In [1]:
import pandas as pd

In [2]:
clinical_data = pd.read_csv("data/clinical_data_anonymized.csv")
clinical_data.head()

,Unnamed: 0,name,Date Naissance,Age,Sexe,Venue,Entrée venue,Unnamed: 9,Exclusion,SAMU,...,4,délai.3,LATA,délai.4,mortalité J7,mortalité J30,Mortalité 6 mois,GOSE J30,GOSE 6 mois,Remarques
0,0,P0000,11/19/1941,NaN,M,2.000010e+12,8/5/2020 21:36,NaN,NaN,38,...,0.0,0.0,0.0,0.0,0,0,0,8 Upper Good Recovery (Upper GR),8 Upper Good Recovery (Upper GR),NaN
1,1,P0001,11/21/1968,NaN,M,2.000010e+12,8/6/2020 11:50,NaN,NaN,38,...,0.0,0.0,0.0,0.0,0,0,0,8 Upper Good Recovery (Upper GR),8 Upper Good Recovery (Upper GR),NaN
2,2,P0002,6/14/1997,NaN,M,2.000010e+12,8/7/2020 21:31,NaN,NaN,38,...,0.0,0.0,0.0,0.0,0,0,0,NaN,max,NaN
3,3,P0003,8/5/1978,NaN,F,2.000010e+12,8/8/2020 19:57,NaN,NaN,38,...,0.0,0.0,0.0,0.0,0,nd,nd,nd,nd,NaN
4,4,P0004,11/17/1986,NaN,M,2.000010e+12,8/9/2020 2:19,NaN,NaN,38,...,0.0,0.0,0.0,0.0,0,0,0,8 Upper Good Recovery (Upper GR),8 Upper Good Recovery (Upper GR),NaN

In [3]:
segmentation_data = pd.read_csv("data/segmentation_data_anonymized.csv")
segmentation_data.head()

,Unnamed: 0,name,supratentorial_IPH,supratentorial_SAH,supratentorial_Petechiae,supratentorial_Edema,infratentorial_IPH,infratentorial_SAH,infratentorial_Petechiae,infratentorial_Edema,...,score_glasgow_initial,score_glasgow_moteur_initial,anomalie_pupillaire_prehospitalier,frequence_cardiaque_FC_arrivee_du_smur,arret_cardio_respiratoire_massage,penetrant_objet,ischemie_du_membre,hemorragie_externe,amputation,outcome_neurochir_pic
0,0,P0001,0,342,0,0,0,15,0,0,...,15.0,6.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,P0002,0,0,0,0,0,0,0,0,...,15.0,6.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,P0003,0,101,0,0,0,0,0,0,...,14.0,6.0,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,P0004,0,328,0,0,0,0,0,0,...,15.0,6.0,0.0,107.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,P0005,0,9,0,15,0,0,0,0,...,NaN,NaN,0.0,83.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:

merged_df = pd.merge(clinical_data, segmentation_data, on="name", how="inner")

In [6]:
merged_df.head()

,Unnamed: 0_x,name,Date Naissance,Age,Sexe,Venue,Entrée venue,Unnamed: 9,Exclusion,SAMU,...,score_glasgow_initial,score_glasgow_moteur_initial,anomalie_pupillaire_prehospitalier,frequence_cardiaque_FC_arrivee_du_smur,arret_cardio_respiratoire_massage,penetrant_objet,ischemie_du_membre,hemorragie_externe,amputation,outcome_neurochir_pic
0,0,P0000,11/19/1941,NaN,M,2.000010e+12,8/5/2020 21:36,NaN,NaN,38,...,15.0,6.0,0.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,P0001,11/21/1968,NaN,M,2.000010e+12,8/6/2020 11:50,NaN,NaN,38,...,15.0,6.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,P0002,6/14/1997,NaN,M,2.000010e+12,8/7/2020 21:31,NaN,NaN,38,...,15.0,6.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,P0003,8/5/1978,NaN,F,2.000010e+12,8/8/2020 19:57,NaN,NaN,38,...,14.0,6.0,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,P0004,11/17/1986,NaN,M,2.000010e+12,8/9/2020 2:19,NaN,NaN,38,...,15.0,6.0,0.0,107.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
merged_df = merged_df.drop_duplicates(subset="name", keep="first")

In [9]:
merged_df.to_csv("data/final_database_clinical_segmentation.csv")