In [ ]:
import get_outcomes

In [ ]:
get_outcomes.get_tier()

    name  tier_bin
0  P0000         0
1  P0001         0
2  P0002         0
3  P0003         0
4  P0004         0
Outcome events : 34

      name  tier_bin
0    P0000         0
1    P0001         0
2    P0002         0
3    P0003         0
4    P0004         0
..     ...       ...
561  P0562         0
562  P0563         0
563  P0564         0
564  P0565         0
565  P0566         0

[566 rows x 2 columns]

In [ ]:
get_outcomes.get_til()

    name  TIL 0  TIL 1  TIL 2  TIL 3 TIL 4
1  P0001    0.0    0.0    0.0    0.0     0
2  P0002    0.0    0.0    0.0    0.0     0
3  P0003    0.0    0.0    0.0    0.0     0
4  P0004    0.0    0.0    0.0    0.0     0
5  P0005    0.0    0.0    0.0    0.0     0
    name  TIL_bin
1  P0001        0
2  P0002        0
3  P0003        0
4  P0004        0
5  P0005        0
Outcome events: 46

In [ ]:
get_outcomes.get_gose_30d()

    name                          GOSE J30
0  P0000  8 Upper Good Recovery (Upper GR)
1  P0001  8 Upper Good Recovery (Upper GR)
2  P0002                               NaN
3  P0003                                nd
4  P0004  8 Upper Good Recovery (Upper GR)
Nombre de 1 : 45
Nombre de 0 : 496
Nombre de NaN : 24
    name  mortality
1  P0001          0
2  P0002          0
3  P0003          0
4  P0004          0
5  P0005          0
Outcome events : 45

      name  mortality
1    P0001          0
2    P0002          0
3    P0003          0
4    P0004          0
5    P0005          0
..     ...        ...
561  P0562          0
562  P0563          0
563  P0564          0
564  P0565          0
565  P0566          0

[565 rows x 2 columns]

In [ ]:
get_outcomes.get_mortality_7d().to_csv("data/test_mortality_7D.csv")

    name mortalité J7
0  P0000            0
1  P0001            0
2  P0002            0
3  P0003            0
4  P0004            0
    name  mortality
0  P0000          0
1  P0001          0
2  P0002          0
3  P0003          0
4  P0004          0
Outcome events : 27

/data_local/data_ssd/fehrdelt/FastDiag/data_preprocessing_outcomes.py:89: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({'1': 1, '0': 0, 'nd': np.nan}).astype(float)

In [ ]:
get_outcomes.get_mortality_30d()

    name mortalité J7 mortalité J30
0  P0000            0             0
1  P0001            0             0
2  P0002            0             0
3  P0003            0            nd
4  P0004            0             0
    name  mortality
0  P0000          0
1  P0001          0
2  P0002          0
3  P0003          0
4  P0004          0
Outcome events : 31

/data_local/data_ssd/fehrdelt/FastDiag/data_preprocessing_outcomes.py:94: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({'1': 1, '0': 0, 'nd': np.nan}).astype(float)
/data_local/data_ssd/fehrdelt/FastDiag/data_preprocessing_outcomes.py:94: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({'1': 1, '0': 0, 'nd': np.nan}).astype(float)

      name  mortality
0    P0000          0
1    P0001          0
2    P0002          0
3    P0003          0
4    P0004          0
..     ...        ...
561  P0562          0
562  P0563          0
563  P0564          0
564  P0565          0
565  P0566          0

[566 rows x 2 columns]

In [ ]:
get_outcomes.get_gose_6m()

    name                       GOSE 6 mois
0  P0000  8 Upper Good Recovery (Upper GR)
1  P0001  8 Upper Good Recovery (Upper GR)
2  P0002                               max
3  P0003                                nd
4  P0004  8 Upper Good Recovery (Upper GR)
Nombre de 1 : 37
Nombre de 0 : 495
Nombre de NaN : 33
    name  mortality
1  P0001          0
2  P0002          0
3  P0003          0
4  P0004          0
5  P0005          0
Outcome events : 37

In [ ]:
get_outcomes.get_mortality_6m()

    name  mortality
0  P0000          0
1  P0001          0
2  P0002          0
3  P0003          0
4  P0004          0
Outcome events : 33

/home/theotime/Documents/1/FastDiag/data_preprocessing.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({'1': 1, '0': 0, 'nd': np.nan, '8 Upper Good Recovery (Upper GR)': np.nan}).astype(float)
/home/theotime/Documents/1/FastDiag/data_preprocessing.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({'1': 1, '0': 0, 'nd': np.nan, '8 Upper Good Recovery (Upper GR)': np.nan}).astype(float)
/home/theotime/Documents/1/FastDiag/data_preprocessing.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({'1': 1, '0': 0, 'nd': np.nan, '8 Upper Good Recovery (Upper GR)': np.nan}).astype(float)

In [ ]:
get_outcomes.get_til()

    name  TIL 0  TIL 1  TIL 2  TIL 3 TIL 4
1  P0001    0.0    0.0    0.0    0.0     0
2  P0002    0.0    0.0    0.0    0.0     0
3  P0003    0.0    0.0    0.0    0.0     0
4  P0004    0.0    0.0    0.0    0.0     0
5  P0005    0.0    0.0    0.0    0.0     0